In [70]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [71]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lompoc,US,2021-03-16 18:47:50,34.6391,-120.4579,55.00,50,1,9.22
1,1,Hermanus,ZA,2021-03-16 18:48:19,-34.4187,19.2345,61.00,85,33,12.17
2,2,Cape Town,ZA,2021-03-16 18:48:19,-33.9258,18.4232,70.00,72,20,19.57
3,3,Cherskiy,RU,2021-03-16 18:48:19,68.7500,161.3000,-16.82,96,99,7.87
4,4,Dalby,AU,2021-03-16 18:48:19,-27.1833,151.2667,63.00,93,100,1.01

In [72]:
# Get the data type
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [73]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [74]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [75]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [99]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [100]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Cape Town,ZA,2021-03-16 18:48:19,-33.9258,18.4232,70.00,72,20,19.57
5,5,Vinh,VN,2021-03-16 18:48:20,18.6667,105.6667,70.79,95,19,1.79
14,14,Kaohsiung,TW,2021-03-16 18:48:21,22.6163,120.3133,73.99,68,20,3.44
17,17,Kapaa,US,2021-03-16 18:48:22,22.0752,-159.3190,72.00,94,90,23.02
18,18,Aquin,HT,2021-03-16 18:48:22,18.2833,-73.4000,80.96,66,29,1.23
21,21,Bull Savanna,JM,2021-03-16 18:48:23,17.8868,-77.5902,80.56,63,0,12.39
26,26,Arraial Do Cabo,BR,2021-03-16 18:48:23,-22.9661,-42.0278,89.60,61,0,12.66
28,28,Salalah,OM,2021-03-16 18:48:24,17.0151,54.0924,78.80,65,0,2.68
30,30,Hithadhoo,MV,2021-03-16 18:48:24,-0.6000,73.0833,81.73,73,100,6.91
31,31,Etchoropo,MX,2021-03-16 18:46:08,26.7667,-109.6667,74.89,35,0,13.33

In [101]:
# Check for null 
preferred_cities_df.count()

City_ID       220
City          220
Country       218
Date          220
Lat           220
Lng           220
Max Temp      220
Humidity      220
Cloudiness    220
Wind Speed    220
dtype: int64

In [102]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2         Cape Town      ZA     70.00 -33.9258   18.4232
5              Vinh      VN     70.79  18.6667  105.6667
14        Kaohsiung      TW     73.99  22.6163  120.3133
17            Kapaa      US     72.00  22.0752 -159.3190
18            Aquin      HT     80.96  18.2833  -73.4000
21     Bull Savanna      JM     80.56  17.8868  -77.5902
26  Arraial Do Cabo      BR     89.60 -22.9661  -42.0278
28          Salalah      OM     78.80  17.0151   54.0924
30        Hithadhoo      MV     81.73  -0.6000   73.0833
31        Etchoropo      MX     74.89  26.7667 -109.6667

In [103]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [104]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [105]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Cape Town,ZA,70.00,-33.9258,18.4232,Southern Sun Waterfront Cape Town
5,Vinh,VN,70.79,18.6667,105.6667,Khách Sạn Thương Mại
14,Kaohsiung,TW,73.99,22.6163,120.3133,御宿商旅-中山館
17,Kapaa,US,72.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
18,Aquin,HT,80.96,18.2833,-73.4000,Asheev Beach
21,Bull Savanna,JM,80.56,17.8868,-77.5902,Big Red's
26,Arraial Do Cabo,BR,89.60,-22.9661,-42.0278,Pousada Porto Praia
28,Salalah,OM,78.80,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
30,Hithadhoo,MV,81.73,-0.6000,73.0833,Scoop Guest House
31,Etchoropo,MX,74.89,26.7667,-109.6667,Campo de Andrés cruz jusaino

In [109]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [110]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))